{% extends 'base.html' %}
{% load static %}
{% block title %}Blogs{% endblock %}

{% block title_header %}
<h1 class="text-center">All Posts</h1>
{% endblock %}

{% block main_content %}
<div class="row">
    {% for post in posts %}
    <div class="col-md-4">
        <div class="card mb-4">
            {% if forloop.first %}
                <img class="card-img-top" src="{% static 'images/peakpx.jpg' %}" alt="Card image cap">
            {% elif forloop.counter == 2 %}
                <img class="card-img-top" src="{% static 'images/pic2.jpg' %}" alt="Card image cap">
            {% else %}
                <img class="card-img-top" src="{% static 'images/pic3.jpg' %}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.excerpt }}</p>
                <a href="{% url 'blog_details' post.id %}" class="btn btn-primary">Read</a>
                <a href="{% url 'update_post' post.id %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- Create New Post button is moved here, after all posts -->
    <div class="col-12 text-center mt-4">
        <a href="{% url 'create_post' %}" class="btn btn-success">Create New Post</a>
    </div>
</div>
{% endblock %}
