{% extends 'base.html' %}
{% load static %}
{% block title %}Blogs{% endblock %}

{% block title_header %}
<h1 class="text-center my-4">All Posts</h1>
{% endblock %}

{% block main_content %}
<div class="container">
    <!-- Categories as keyword-style buttons -->
    <div class="categories-bar">
        <!-- Other category buttons with light gray background -->
        {% for category in categories %}
        <a href="{% url 'blogs_by_category' category.id %}" class="category-btn">{{ category.name }}</a>
        {% endfor %}
    </div>
    <div class="row mt-3">
        {% for post in posts %}
        <div class="col-md-4">
            <div class="card mb-4">
                {% if post.image_url %}
                <img class="card-img-top" src="{{ post.image_url }}" alt="Card image cap">
                {% else %}
                <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="Card image cap">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text"><small class="text-muted">{{ post.category.name|default_if_none:"Uncategorized" }}</small></p>
                    {% if post.summary %}
                    <p class="card-text">{{ post.summary }}</p>
                    {% else %}
                    <p class="card-text">Summary not available.</p>
                    {% endif %}
                    <a href="{% url 'blog_details' post.id %}" class="btn btn-primary btn-sm">Read</a>
                    {% if user.is_authenticated and user.is_staff %}
                    <a href="{% url 'update_post' post.id %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'delete_post' post.id %}" class="btn btn-danger btn-sm">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="col-12 text-center mt-4">
        {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'create_post' %}" class="btn btn-success" style="margin-bottom: 40px;">Create New Post</a>
        {% endif %}
    </div>
</div>
{% endblock %}
