{% extends "admin/change_list.html" %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:blog_post_start_worker_and_beat' %}" class="button">Start Celery</a>
    </li>
    <li>
        <a href="{% url 'admin:blog_post_stop_worker_and_beat' %}" class="button">Stop Celery</a>
    </li>
    <li>
        <form action="{% url 'admin:blog_post_set_interval' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <input type="number" name="interval_hours" placeholder="Hours" min="1" required />
            <button type="submit" class="button">Set Interval</button>
        </form>
    </li>
    {{ block.super }}
{% endblock %}
